/* 
    Document   : barraFixaEstilo
    Created on : 10/11/2011, 01:55:08
    Author     : wallace
    Description:
    Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#barra{

    position: fixed;
    bottom:0;
    right: 100px;
    width: 75%;
    height: 35px;
    -moz-border-radius:0px 20px 0px 0px; 
    border-radius:0px 20px 0px 0px; 
    -webkit-border-radius:0px 20px 0px 0px; 
    background: #EEE;
    border-top: solid thin #205606 ;
    border-right: solid thin #205606;
    border-left: solid thin #205606;

}

#fotoPatrocinio{
    bottom: 55px;
    float: left;
}

#slogamApoio{
    height: 100%;
    width: 270px;
    margin-left: 200px;
    padding-bottom:5px;
}

#slogamApoio h1{
    padding-top: 10px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #701f19;
}

#botaoFechar{
    bottom: 30px;
    float: right;
    position: relative;
    padding-right: 10px;
    cursor: pointer;
    

}

#botaoFechar h1{
    
    color: #701f19;
    font-size: small;

}


