/* 
    Document   : pedagogico
    Created on : 23/10/2011, 22:12:02
    Author     : regimar
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
    margin: 0 auto;
    padding: 0;
}



#texto{
   text-align: justify;
   width: 400px; 
   float:left;
   display: block;
}

#texto h2{
    text-align: center;
}

#foto{
    width: 400px;
    height: 300px;
    float: left;
    margin: 50px 0 0 50px;
}
