p{
/*  text-align:left;*/
}

label{
/*  margin-top:10px;*/
  
/*  text-align:rigth;*/
}

form p{
  display: table;
}

form p label {
    float: left;
    width: 110px;
    margin-right: 10px;
    font-weight: bold;
    text-align: right;
}

form input, form textarea{
	opacity: 1;
	resize: none;
	border: solid 1px #CCC;
	background: #FFFFFF;
	margin: 5px 0 7px 0;
	padding: 4px;
	font-size:14px;
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

#botao{
  padding-left: 300px;
}

form input[type='submit']{
		cursor:pointer;
		width: 100px;
		padding: 5px;
}

form input[type='submit']:focus,
form input[type='submit']:hover{
	border: solid 1px #2183c4;
}
